*{
    margin: 0px;
    padding: 0px;
}


#about{
    padding:60px 20px;
    background-color: #fff8f5;
    text-align: center;
}

#about h1{
    font-size: 36px;
    color: #d63384;
    margin-bottom: 30px;
}

.about-content{
    max-width: 1100px;
    margin: auto;
}

.about-text{
    font-size: 18px;
    color: #555;
    line-height: 1.8;
}

.about-images{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.about-images img{
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px ;
    transition: 0.3s;
}

.about-images img:hover{
    transform: scale(1.05);
}

.navbar
{
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    width: 100%;
    /* position: fixed; */
}

.navpadding
{
    padding-left: 850px;
}
/* .navbar h2{
    font-size: medium;
    margin-left: 200px;
} */

.logo
{
    display: flex;
    /* position: fixed; */
    align-items: center;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    /* position: fixed; */
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin-left: 20px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover{
    color: red;
}
